<div class='addBook' ng-controller="AddBook">
    <div class='row'>
        <h3><span class="label label-primary"> {{bookHeading}}</span></h3>
    </div>
    <div class='row margin-top-20'>
        <form name='bookform'>
            <div class='row'>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label>Book Title
                            <mandatory></mandatory>
                        </label>
                        <input type="text" class="form-control" ng-model='bookObj.bookTitle' name='bookTitle' />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label mandatory>Book Author
                            <mandatory></mandatory>
                        </label>
                        <input type="text" class="form-control" ng-model='bookObj.bookAuthor' name='bookAuthor' />
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label mandatory>Book Publisheer
                            <mandatory></mandatory>
                        </label>
                        <input type="text" class="form-control" ng-model='bookObj.bookPublisher' name='bookPublisher' />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label mandatory>Book Category
                            <mandatory></mandatory>
                        </label>
                        <input type="text" class="form-control" ng-model='bookObj.bookCategory' name='bookCategory'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <button type="button" class="btn btn-primary margin-left-15" ng-click='addBook()'>Add Book</button>
                <button type="button" class="btn btn-default" ng-click='reset()'>Cancel</button>
            </div>
        </form>
    </div>
</div>
