/* line 1, ../sass/_app.scss */
.headercls {
  background-color: #3b5998 !important;
  color: #FFF !important;
}

/* line 6, ../sass/_app.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  font-size: 25px !important;
}

/* line 11, ../sass/_app.scss */
body {
  background-color: #dddfe2;
  font-family: cursive !important;
}

/* line 16, ../sass/_app.scss */
footer {
  border-radius: 3px;
  border: black;
  height: 46px;
  margin-bottom: 5px;
}

/* line 23, ../sass/_app.scss */
.mainView {
  height: 500px;
}

/* line 27, ../sass/_app.scss */
.mainContCls {
  background-color: white;
  padding: 0px;
}

/* line 32, ../sass/_app.scss */
.footerContent {
  padding: 15px;
}

/* line 36, ../sass/_app.scss */
nav a {
  color: #FFF !important;
  font-weight: bold;
  font-size: 25px;
}

/* line 42, ../sass/_app.scss */
.active {
  border-bottom: 3px solid #e32b21;
  color: #e32b21;
}

/* line 47, ../sass/_app.scss */
.noPadding {
  padding: 0px;
}

/* line 51, ../sass/_app.scss */
.height100 {
  height: 100%;
}

/* line 55, ../sass/_app.scss */
.red {
  color: #FF0000;
}

/* line 2, ../sass/_admin.scss */
.admin .sideBarMgTop {
  margin-top: -21px;
}
/* line 5, ../sass/_admin.scss */
.admin .sideBarFit {
  padding: 0px;
}
/* line 8, ../sass/_admin.scss */
.admin .sideBarActive {
  background-color: #dff0d8 !important;
}
/* line 11, ../sass/_admin.scss */
.admin li:hover {
  background-color: #f5f5f5 !important;
}
/* line 14, ../sass/_admin.scss */
.admin .sideBarActive a {
  color: #ffff !important;
}
/* line 17, ../sass/_admin.scss */
.admin li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

/* line 1, ../sass/_margins.scss */
.margin-left-15 {
  margin-left: 15px;
}

/* line 5, ../sass/_margins.scss */
.margin-top-20 {
  margin-top: 20px;
}
